<ion-modal-view ng-init="newAddress={}">
  <ion-header-bar>
    <button class="button button-clear" on-touch="addressModal.hide()">Cancel</button>
    <h1 class="title">Add Address</h1>
    <button ng-disabled="newAddress.form.$invalid" class="button button-clear" on-touch="createAddress(newAddress)">Add</button>
  </ion-header-bar>

  <ion-content>
    <form name="newAddress.form" class="list">
      <label class="item item-input">
        <input type="text" reset-field required ng-model="newAddress.title" placeholder="Address nickname">
      </label>

      <label class="item item-input">
        <input type="text" reset-field required ng-model="newAddress.street1" placeholder="Address Line 1">
      </label>

      <label class="item item-input">
        <input type="text" reset-field required ng-model="newAddress.street2" placeholder="Address Line 2">
      </label>

      <label class="item item-input">
        <input type="text" reset-field required ng-model="newAddress.city" placeholder="City">
      </label>

      <label class="item item-input">
        <input type="text" reset-field required ng-model="newAddress.state" placeholder="State">
      </label>

      <label class="item item-input">
        <input type="tel" reset-field required ng-model="newAddress.zip" placeholder="Zip">
      </label>

      <label class="item item-input">
        <textarea reset-field ng-model="newAddress.notes" placeholder="Notes (optional)">
      </label>
    </form>
  </ion-content>
</ion-modal-view>
