<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear" on-touch="addressModal.hide()">Cancel</button>
    <h1 class="title">Add Address</h1>
    <button ng-disabled="newAddress.form.$invalid" class="button button-clear" on-touch="createAddress(newAddress)">Add</button>
  </ion-header-bar>

  <ion-content>
    <form name="newAddress.form" class="list" on-submit="createAddress(newAddress)">
      <label class="item item-input">
        <input type="text"
               reset-field
               ng-model="newAddress.title"
               placeholder="Address nickname">
      </label>

      <label class="item item-input">
        <input type="text"
               g-places-autocomplete
               force-selection="true"
               options="autocompleteOptions"
               required
               ng-model="newAddress.autocomplete"
               placeholder="Address">
      </label>

      <label class="item item-input">
        <input type="text"
               reset-field
               ng-model="newAddress.street2"
               placeholder="Unit number (optional)">
      </label>

      <label class="item item-input">
        <textarea reset-field
                  ng-model="newAddress.notes"
                  placeholder="Notes (optional)">
      </label>
    </form>
  </ion-content>
</ion-modal-view>
