<form name="newAddress.form" class="list" on-submit="createAddress(newAddress.params)">
  <label class="item item-fixed item-input">
    <input type="text"
           g-places-autocomplete
           force-selection="true"
           options="autocompleteOptions"
           required
           ng-model="newAddress.params.autocomplete"
           placeholder="Address">
  </label>

  <label class="item item-fixed item-input">
    <input type="text"
           reset-field
           ng-model="newAddress.params.street2"
           placeholder="Unit number (optional)">
  </label>

  <label class="item item-fixed item-input">
    <input type="text"
           reset-field
           ng-model="newAddress.params.notes"
           placeholder="Note (optional)">
  </label>
</form>
