<div class="login">
  <ion-header-bar class="bar-assertive">
    <button nav-direction="back" ui-sref="home" class="button button-clear button-icon icon ion-arrow-left-c"></button>
    <h1 class="title">Earlybird</h1>
    <button ng-click="login()" class="button button-clear">Log In</button>
  </ion-header-bar>

  <ion-content scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="password">
      </label>
    </div>
  </ion-content>
</div>
