<div class="login" ng-cloak ng-init="loginForm={}">
  <ion-header-bar class="bar-assertive">
    <button nav-direction="back" ui-sref="earlybird.home" class="button button-clear button-icon icon ion-ios-arrow-back"> Back</button>
    <h1 class="title"><img class="title-image" src="img/img-logo-white.png"></img></h1>
    <button ng-disabled="loginForm.form.$invalid" on-touch="login(loginForm.params)" class="button button-clear">Log In</button>
  </ion-header-bar>

  <ion-content scroll="false">
    <form name="loginForm.form" class="list list-inset" on-submit="login(loginForm.params)">
      <label focus-me class="item item-fixed item-input">
        <input type="email" required reset-field ng-model="loginForm.params.email" placeholder="Email">
      </label>
      <label class="item item-fixed item-input">
        <input type="password" required reset-field ng-model="loginForm.params.password" placeholder="Password">
      </label>
    </form>
  </ion-content>
</div>
