<div class="order">
  <ion-header-bar class="bar-assertive">
    <button ui-sref="earlybird.settings" nav-direction="back" class="button button-clear button-icon icon ion-ios-settings">
    </button>
    <h1 class="title"><img class="title-image" src="img/img-logo-white.png"></img></h1>
    <button ui-sref="earlybird.sharing" nav-direction="forward" class="button button-clear button-icon icon">
      <img src="img/ic-promocode-white2x.png"></img>
    </button>
  </ion-header-bar>

  <ion-content scroll="true">

    <form name="orderForm" class="list">
      <div class="" ng-repeat="item in items">
        <div class="item item-image">
          <img ng-src="{{item.image}}"></img>
        </div>

        <div class="item item-description">
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </div>

        <div class="order-quantity item item-fixed item-input">
          <button ng-click="decQuantity()" ng-disabled="order.quantity<=1" class="button button-small button-icon icon ion-ios-minus-outline"></button>
          <div class="item-label-center">
            Quantity: {{order.quantity}}
          </div>
          <button ng-click="incQuantity()" class="button button-icon icon ion-ios-plus-outline"></button>
        </div>
      </div>

      <div class="item item-divider">
        Destination
      </div>

      <label class="order-address item item-fixed item-radio" ng-repeat="address in currentUser.addresses">
        <input type="radio" ng-value="address.id" required ng-model="order.destination_address_id">
        <h2>{{address.title}}</h2>
        <p>{{address.street1}} {{' ' + address.street2}}, {{address.city}}, {{address.state}} {{address.zip}}</p>
        <i class="radio-icon ion-ios-checkmark"></i>
        <i class="radio-icon ion-ios-checkmark-outline button-opaque"></i>
      </label>

      <div class="order-add-address item item-button-right">
        <div>
          Add Address
        </div>
        <button ng-click="addressModal.show()" class="button button-icon icon ion-ios-plus-outline"></button>
      </div>

      <div class="item item-divider">
        Payment Details
      </div>

      <label class="order-card item item-fixed item-radio item-avatar" ng-repeat="card in currentUser.cards">
        <img ng-src="img/ic-payment-{{card.type}}2x.png">
        <input type="radio" ng-value="card.id" required ng-model="order.card_id">
        <h2>{{card.title}}</h2>
        <p>{{card.last_four}}</p>
        <i class="radio-icon ion-ios-checkmark"></i>
        <i class="radio-icon ion-ios-checkmark-outline button-opaque"></i>
      </label>

      <div class="order-add-card item item-button-right">
        <div>
          Add Payment
        </div>
        <button ng-click="cardModal.show()" class="button button-icon icon ion-ios-plus-outline"></button>
      </div>

      <button ng-show="availability.now()" ng-disabled="!orderValid(order)" class="order-button button button-block button-balanced" ng-click="createOrder(order)">Place Order: ${{order.quantity * items[0].price}}</button>
      <button ng-hide="availability.now()" ng-disabled="true" class="button button-block button-balanced">We're closed until {{availability.next_open.start_time | date : 'EEEE @ H:mm a'}}</button>
    </form>
  </ion-content>
</div>
