<div class="order">
  <ion-header-bar class="bar-assertive">
    <button ui-sref="earlybird.settings"
            nav-direction="back"
            class="button button-clear button-icon icon ion-ios-settings">
    </button>
    <h1 class="title">
      <img class="title-image" src="img/img-logo-white.png"></img>
    </h1>
    <!-- <button ui&#45;sref="earlybird.sharing" nav&#45;direction="forward" class="button button&#45;clear button&#45;icon icon"> -->
      <!-- <img src="img/ic&#45;promocode&#45;white2x.png"></img> -->
    <!-- </button> -->
  </ion-header-bar>

  <ion-content scroll="true">
      <div class="list list-inset" ng-repeat="item in items">
        <div class="item item-image">
          <img ng-src="{{item.image}}"></img>
        </div>

        <div class="item item-description">
          <h2>{{item.title}} - ${{item.price | number:0}}</h2>
          <p>{{item.description}}</p>
        </div>

        <div class="order-quantity item item-fixed item-input">
          <button on-touch="decQuantity(item)"
                  ng-disabled="!item.quantity || item.quantity<=1"
                  class="button button-small button-icon icon ion-ios-minus-outline">
          </button>
          <div class="item-label-center">
            Quantity: {{item.quantity}}
          </div>
          <button on-touch="incQuantity(item)"
                  class="button button-icon icon ion-ios-plus-outline">
          </button>
        </div>
      </div>

    <form name="orderForm" class="list list-inset">
      <div class="item item-divider">
        Destination
      </div>

      <label class="order-address item item-fixed item-radio"
             ng-repeat="address in currentUser.addresses">
        <input type="radio"
               ng-value="address.id"
               required
               ng-model="order.destination_address_id">
        <h2>{{address.title}}</h2>
        <p>{{address.street1}} {{' ' + address.street2}}, {{address.city}}, {{address.state}} {{address.zip}}</p>
        <i class="radio-icon ion-ios-checkmark"></i>
        <i class="radio-icon ion-ios-checkmark-outline button-opaque"></i>
      </label>

      <div class="order-add-address item item-button-right">
        <div>
          Add Address
        </div>
        <button on-touch="addressModal.show()"
                class="button button-icon icon ion-ios-plus-outline">
        </button>
      </div>

      <div class="item item-divider">
        Payment Details
      </div>

      <label class="order-card item item-fixed item-radio item-icon-left"
             ng-repeat="card in currentUser.cards">
        <i class="icon icon-image">
          <img ng-src="img/ic-payment-{{card.type || 'Default'}}2x.png">
        </i>
        <input type="radio"
               ng-value="card.id"
               required
               ng-model="order.card_id">
        <h2>{{card.title}}</h2>
        <p>{{card.last_four}}</p>
        <i class="radio-icon ion-ios-checkmark"></i>
        <i class="radio-icon ion-ios-checkmark-outline button-opaque"></i>
      </label>

      <div class="order-add-card item item-button-right">
        <div>
          Add Payment
        </div>
        <button on-touch="cardModal.show()"
                class="button button-icon icon ion-ios-plus-outline">
        </button>
      </div>
    </form>

    <div class="list list-inset">
      <button ng-show="availability.now()"
              ng-disabled="!orderValid(order)"
              class="order-button button button-block button-balanced"
              on-touch="createOrder(order)">
        Place Order: ${{orderTotal(items)}}
      </button>

      <button ng-hide="availability.now()"
        ng-disabled="true"
        class="button button-block button-balanced">
        We're closed until
        {{availability.next() | amDateFormat : 'dddd @ h:mm a'}}
      </button>
    </div>
  </ion-content>

  <ion-footer-bar ng-show="orderInProgress">
    <h1 class="title">Order in progress!</h1>
  </ion-footer-bar>
</div>
