<div class="register" ng-init="registerForm={}">
  <ion-header-bar class="bar-assertive">
    <button nav-direction="back" ui-sref="earlybird.home" class="button button-clear button-icon icon ion-ios-arrow-back"> Back</button>
    <h1 class="title"><img class="title-image" src="img/img-logo-white.png"></img></h1>
    <button ng-disabled="registerForm.form.$invalid" ng-click="register(registerForm.params)" class="button button-clear">Register</button>
  </ion-header-bar>

  <ion-content scroll="false">
    <form name="registerForm.form" class="list list-inset">
      <label class="item item-fixed item-input">
        <input type="text" reset-field required ng-model="registerForm.params.first_name" placeholder="first name">
      </label>
      <label class="item item-fixed item-input">
        <input type="text" reset-field required ng-model="registerForm.params.last_name" placeholder="last name">
      </label>
      <label class="item item-fixed item-input">
        <input type="email" reset-field required ng-model="registerForm.params.email" placeholder="email">
      </label>
      <label class="item item-fixed item-input">
        <input type="text" reset-field required ng-model="registerForm.params.phone" placeholder="phone number">
      </label>
      <label class="item item-fixed item-input">
        <input type="password" reset-field required ng-model="registerForm.params.password" placeholder="password">
      </label>
      <label class="item item-fixed item-input">
        <input type="text" reset-field ng-model="registerForm.params.code" placeholder="promo code">
      </label>
    </form>
  </ion-content>
</div>
