<div class="register" ng-init="registerForm={}">
  <ion-header-bar class="bar-assertive">
    <button nav-direction="back" ui-sref="earlybird.home" class="button button-clear button-icon icon ion-ios-arrow-back"> Back</button>
    <h1 class="title"><img class="title-image" src="img/img-logo-white.png"></img></h1>
    <button ng-disabled="registerForm.form.$invalid" on-touch="register(registerForm.params)" class="button button-clear">Next</button>
  </ion-header-bar>

  <ion-content scroll="false">
    <form name="registerForm.form" class="list list-inset" on-submit="register(registerForm.params)">
      <div class="form-description">
        <h2>Thanks for downloading Earlybird, let's collect a few quick bits of information to get you started!</h2>
      </div>

      <label focus-me class="item item-fixed item-input">
        <input type="text" reset-field required ng-model="registerForm.params.first_name" placeholder="First name">
      </label>
      <label class="item item-fixed item-input">
        <input type="text" reset-field required ng-model="registerForm.params.last_name" placeholder="Last name">
      </label>
      <label class="item item-fixed item-input">
        <input type="email" reset-field required ng-model="registerForm.params.email" placeholder="Email">
      </label>
      <label class="item item-fixed item-input">
        <input type="tel" reset-field required ng-model="registerForm.params.phone" placeholder="phone">
      </label>
      <label class="item item-fixed item-input">
        <input autocomplete="off" autocorrect="off" type="password" reset-field required ng-model="registerForm.params.password" placeholder="Password">
      </label>
      <label class="item item-fixed item-input">
        <input type="text" reset-field ng-model="registerForm.params.code" placeholder="Promo code (optional)">
      </label>
    </form>
  </ion-content>
</div>
