<div class="settings ng-cloak">
  <ion-header-bar class="bar-assertive">
      <button on-touch="cancelInput()" class="button button-clear button-icon icon">Cancel</button>
      <h1 class="title">Settings</h1>
      <button on-touch="saveInput(user)" class="button button-clear button-icon icon">Save</button>
  </ion-header-bar>

  <ion-content scroll="true">
    <ion-list type="list-inset">
      <div class="item item-divider">
        General
      </div>

      <fieldset>
        <label class="item item-fixed item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="user.first_name"></input>
        </label>

        <label class="item item-fixed item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="user.last_name"></input>
        </label>

        <label class="item item-fixed item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email"></input>
        </label>

        <label class="item item-fixed item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="user.phone"></input>
        </label>
      </fieldset>

      <div class="item item-divider">
        Addresses
      </div>

      <ion-item class="item-fixed" ng-repeat="address in currentUser.addresses">
        <h2>{{address.title}}</h2>
        <p>{{address.street1}} {{' ' + address.street2}}, {{address.city}}, {{address.state}} {{address.zip}}</p>
        <ion-option-button class="button-assertive" on-touch="deleteAddress(address, $index)">
          Delete
        </ion-option-button>
      </ion-item>

      <div class="order-add-address item item-fixed item-button-right">
        <div>Add Address</div>
        <button on-touch="addressModal.show()" class="button button-icon icon ion-ios-plus-outline"></button>
      </div>

      <div class="item item-divider">
        Payments
      </div>

      <ion-item class="item-fixed item-icon-left" ng-repeat="card in currentUser.cards">
        <i class="icon icon-image">
          <img ng-src="img/ic-payment-{{card.type}}2x.png"></img>
        </i>
        <h2>{{card.title}}</h2>
        <p>{{card.last_four}}</p>
        <ion-option-button class="button-assertive" on-touch="deleteCard(card, $index)">
          Delete
        </ion-option-button>
      </ion-item>

      <div class="order-add-card item item-fixed item-button-right">
        <div>Add Payment</div>
        <button on-touch="cardModal.show()" class="button button-icon icon ion-ios-plus-outline"></button>
      </div>

      <div class="settings-promotions">
        <div class="item item-divider">
          Promotions
        </div>

        <div class="item item-fixed item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="inputs.code"></input>
          </label>
          <button class="button button-assertive button-small" on-touch="redeemPromo(inputs.code)">Apply</button>
        </div>

        <div ng-show="currentUser.codes" class="item item-fixed item-icon-left">
          <i class="icon icon-image">
            <img ng-src="img/ic-promocode2x.png"></img>
          </i>
          <h2>Earlybird Promo Balance</h2>
          <p>${{currentUser.promoBalance()}}</p>
        </div>
      </div>
    </ion-list>

    <div class="list list-inset">
      <button class="button button-block button-light" on-touch="logout()">Logout</button>
    </div>
  </ion-content>
</div>
