<div class="settings ng-cloak">
  <ion-header-bar class="bar-assertive" ng-switch="inputDisabled">
    <div ng-switch-when="true">
      <button ui-sref="earlybird.order" nav-direction="forward" class="button button-clear button-icon icon ion-ios-close-empty"></button>
      <h1 class="title">Settings</h1>
      <button ng-click="enableInput()" class="button button-clear button-icon icon ion-ios-compose-outline"></button>
    </div>

    <div ng-switch-when="false">
      <button ng-click="disableInput()" class="button button-clear button-icon icon">Cancel</button>
      <h1 class="title">Settings</h1>
      <button ng-click="saveInput(currentUser)" class="button button-clear button-icon icon">Save</button>
    </div>
  </ion-header-bar>

  <ion-content scroll="true">
    <div class="list list-inset">
      <div class="item item-divider">
        General
      </div>

      <fieldset ng-disabled="inputDisabled">
        <label class="item item-fixed item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="currentUser.first_name"></input>
        </label>

        <label class="item item-fixed item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="currentUser.last_name"></input>
        </label>

        <label class="item item-fixed item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="currentUser.email"></input>
        </label>

        <label class="item item-fixed item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="currentUser.phone"></input>
        </label>
      </fieldset>

      <div class="item item-divider">
        Addresses
      </div>

      <label class="item item-fixed item-button-right" ng-repeat="address in currentUser.addresses">
        <h2>{{address.title}}</h2>
        <p>{{address.street1}} {{' ' + address.street2}}, {{address.city}}, {{address.state}} {{address.zip}}</p>
        <button class="button button-icon icon ion-ios-trash" ng-hide="inputDisabled" ng-click="deleteAddress(address, $index)"></button>
      </label>

      <label class="order-add-address item item-button-right">
        <div>Add Address</div>
        <button ng-click="addressModal.show()" class="button button-icon icon ion-ios-plus-outline"></button>
      </label>

      <div class="item item-divider">
        Payments
      </div>

      <label class="item item-fixed item-radio item-button-right item-avatar" ng-repeat="payment in payments">
        <img ng-src="img/ic-payment-{{payment.type}}2x.png"></img>
        <h2>{{payment.title}}</h2>
        <p>{{payment.last_four}}</p>
        <button class="button button-icon icon ion-ios-trash" ng-hide="inputDisabled"></button>
      </label>

      <label class="order-add-payment item item-button-right">
        <div>Add Payment</div>
        <button ng-click="paymentModal.show()" class="button button-icon icon ion-ios-plus-outline"></button>
      </label>

      <button class="button button-block" ng-click="logout()">Logout</button>
    </div>
  </ion-content>
</div>
