<div class="sharing">
  <ion-header-bar class="bar-assertive">
    <button nav-direction="back" ui-sref="order" class="button button-clear button-icon icon ion-ios-arrow-back"> Back</button>
    <h1 class="title"></h1>
  </ion-header-bar>

  <ion-content scroll="false">
    <div class="row-50 sharing-slide">
      <img class="row 67 sharing-image" src="img/img-sharing-mug2x.png"></img>
      <div class="sharing-description">
        <h2>Earn free coffee!</h2>
        <p>Invite your friend to join Earlybird with your referral code and earn free coffee</p>
        <p>Your referral code: {{user.promo_code}}
      </div>
    </div>

    <div class="list row-50 sharing-buttons">
      <label ng-click="" class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-chatbubble"></i>
        Text Message
        <i class="icon ion-ios-arrow-forward"></i>
      </label>

      <label ng-click="" class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-email"></i>
        Email
        <i class="icon ion-ios-arrow-forward"></i>
      </label>

      <label ng-click="" class="item item-icon-left item-icon-right">
        <i class="icon ion-social-facebook"></i>
        Facebook
        <i class="icon ion-ios-arrow-forward"></i>
      </label>

      <label ng-click="" class="item item-icon-left item-icon-right">
        <i class="icon ion-social-twitter"></i>
        Twitter
        <i class="icon ion-ios-arrow-forward"></i>
      </label>

      <label ng-click="" class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-copy"></i>
        Copy
        <i class="icon ion-ios-arrow-forward"></i>
      </label>
    </div>
  </ion-content>
</div>
